<h3>New Participants in the THL Connections Portal.</h3>

<div class="error-messages">
	<%= error_messages_for :user %>
</div>
<p>Connections (Tendrel in Tibetan) is a social directory for individuals, projects, and organizations in the Tibetan plateau and the Greater Himalayan region to describe their background, interests, work, and interconnections. The site serves those involved in education, non-profit activity, cultural work, social business, and other socially progressive and beneficial activities in and/or relating to the region. Political content of all types is completely banned from the site in order to allow everyone to participate safely and fully in this directory.</p>
<p>Each entry is self-created and self-maintained by the individual or group in question, and is indexed by THL's Place Dictionary and Knowledge Maps, so that shared interests can be easily explored.</p>
<p>Exploring the entries in Connections does not require a login account. However, if you want to create your own descriptions of your self, projects, or organizational units, you will need one. Please fill out the form below to request an account. You will be granted Limited Access immediately, and be able to create and fill out an entry for yourself, projects, or organizations. However, your work will not appear in public until staff have reviewed your registration form, and granted your Full Access. In most cases, review will happen very quickly.</p>
<p>We reserve the right to refuse any account request, or later delete any account, that does not match the criteria specified above, or which inserts inappropriate content into entries.</p>
